*{
    border: 0;
    padding: 0;
    margin: 0;
}
@media(min-width:600px){
    body{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    main, footer{
        width: 44%;
    }
}
html{
    overflow-x: hidden;
}

header{
    width: 100%;
    height: 25px;
    display: flex;
    align-items: center;
    background-color: #fbc6c1;
}

header p {
    margin-left: 10px;
    font-size: 28px;
}

main{
    width: 100%;
}

#banner{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(to bottom, #fbc6c1 50%, #ffffff 50%);
}

#banner img{
    width: 50%;
    height: auto;
    border-radius: 360px;
}

#intro{
    margin-top: 10px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#intro h1 {
    margin-top: 5px;
    margin-bottom: 5px;
}
#intro div{
    width: 95%;
    height: auto;
    padding: 5px;
    
    box-shadow: 0px 0px 1px 1px #000000;
}

#intro div p {
    font-size: 18px;
    text-transform: capitalize;
}

#card{
    margin-top: 10px;
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
}
.cards{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.infocard{
    width: 90%;
    height: 30px;
    box-shadow: 0px 0px 1px 1px #000000;
    margin-top: 4px;
    margin-bottom: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 180px;
}
.infocard p {
    font-size: 16px;
    text-transform: capitalize;
}

#exp{
    margin-top: 10px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

#exptext{
    margin-top: 10px;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.expcard{
    margin-top: 10px;
    width: 90%;
    height: auto;
    box-shadow: 0px 0px 3px 1px #000000;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

#contato{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 11px;
}

#contato a{
    width: 40%;
    height: 44px;
    box-shadow: 0px 0px 3px 0px #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000000;
    font-size: 25px;
    margin-top: 11px;
}


